:root{
  --mainColor: #fff;
  --height: 50px;
  --bgcolor: #00bcd4;
}
.header{
  color: var(--mainColor);
  height: var(--height);
  background: var(--bgcolor);
  font-family: 'sanber sdads';
}
.logo{
  line-height: var(--height);
  padding: 10px;
  color: var(--mainColor);
}
.toolbar{
  float: right;
  list-style: none;
  line-height: var(--height);
  > li{
    display: inline-block;
    margin-right: 10px;
  }
}
.title{
  color: #fff;
}

