
/*.header{
  composes: header from './../../components/Header/style.css';
}*/
/*.title{
  composes: title from './../../components/Header/style.css';
}*/
.header{
  composes: header from './../../components/Header/style.css';
  background-color: green;
}
/*.title{
  color: #4c4;
}*/
.logo{
  composes: logo from './../../components/Header/style.css';
}
.toolbar{
  composes: toolbar from './../../components/Header/style.css';
}
